temp
*pycache*
*env*
.codexignore
review/
AGENTS*
chroma_db/
RAGAS/python313/
RAGAS/*.exe
tmp/
old_chroma_db/
data/infosys_rag_test_dataset_50_queries_validation_report.csv
data/infosys_rag_test_dataset_50_queries_validation_report.csv
*.log
*.ipynb
